/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald-v49-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v49-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common - Общие */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container  {
  width: 1278px;
  margin: 0 auto;
  border: 1px solid red;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

/* Шапка сайта */
.header {
  background: #66D1FF;
  padding: 30px;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  display: inline-block;
  padding: 8px 41px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;

  color: #060D10

}

.main-logo {
  width: 295.5px;
  height: 50.76px;
}

.contact {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;


  color: #060D10;
}

/* Блок Desc */
.desc {
  padding: 240px 0;
  background-image: url(../images/desc-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.desc-title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 1px 1px 2px #060D10;
}

.desc-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  text-shadow: 1px 1px 2px #060D10;
}

/* Блок Options */
.options {
  padding: 170px 0;
  background-color: rgba(102, 209, 255, .1)
}

h2.options-title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
  color: #060D10;
}

.options-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -15px;
  list-style: none;
}

.option-item {
  flex-basis: 33.33%;
  padding: 15px;

}

.option-caption {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 167%;
  text-transform: uppercase;
  color: #060D10;
}

.option-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;

  color: #060D10;
}

.line {
  background-color: rgba(102, 209, 255, .1)
}

.option-line {
  border: 1px solid rgba(6, 13, 16, .5);
}

/* Блок Order */
.order {
 padding: 180px 0;

}

.order-text {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding-bottom: 60px;

  color: #060D10;
}

.order-btn {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
  display: block;

  color: #060D10;
}

/* Блок Footer */
.footer {
  padding: 40px 0;
  background: #060D10;
  border: 1px solid red;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-wrap-left {
  display: flex;
  align-items: center;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
  text-align: center;
  margin-right: 50px;
  color: #FFFFFF;
}

.footer-twitter {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-image: url('../images/icon-twitter.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-linkedin {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-image: url('../images/icon-linkedin.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-google {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-image: url('../images/icon-google-plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-facebook {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../images/icon-facebook.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.copyright {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
}

